@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Jokes Web App!</h1>
    <p>Discover a world of laughter and amusement with our collection of hilarious jokes. Whether you're in need of a quick chuckle or a hearty belly laugh, our carefully curated selection of jokes is here to brighten your day. From puns and one-liners to witty anecdotes and funny quotes, we've got it all. Sit back, relax, and get ready to unleash your inner comedian.</p>
</div>

